.DS_Store
.cproject
.project
.settings/language.settings.xml
*.so
*.o
/.idea
.*/.DS_Store
/src/.idea/misc.xml
/src/.idea/modules.xml
/src/.idea/other.xml
/src/.idea/src.iml
/src/.idea/vcs.xml
/src/.idea/workspace.xml
/src/CMakeLists.txt
/src/.idea/deployment.xml
/src/bin/initgtm/test/gtm.conf
/src/cmake-build-debug/CMakeCache.txt
/src/cmake-build-debug/CMakeFiles/2.8.12.2/CMakeCCompiler.cmake
/src/cmake-build-debug/CMakeFiles/2.8.12.2/CMakeCXXCompiler.cmake
/src/cmake-build-debug/CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_C.bin
/src/cmake-build-debug/CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_CXX.bin
/src/cmake-build-debug/CMakeFiles/2.8.12.2/CMakeSystem.cmake
/src/cmake-build-debug/CMakeFiles/2.8.12.2/CompilerIdC/CMakeCCompilerId.c
/src/cmake-build-debug/CMakeFiles/2.8.12.2/CompilerIdC/a.out
/src/cmake-build-debug/CMakeFiles/2.8.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/src/cmake-build-debug/CMakeFiles/2.8.12.2/CompilerIdCXX/a.out
/src/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/src/cmake-build-debug/CMakeFiles/CMakeOutput.log
/src/cmake-build-debug/CMakeFiles/Makefile.cmake
/src/cmake-build-debug/CMakeFiles/Makefile2
/src/cmake-build-debug/CMakeFiles/Progress/count.txt
/src/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/src/cmake-build-debug/CMakeFiles/clion-environment.txt
/src/cmake-build-debug/CMakeFiles/clion-log.txt
/src/cmake-build-debug/CMakeFiles/cmake.check_cache
/src/cmake-build-debug/CMakeFiles/progress.marks
/src/cmake-build-debug/CMakeFiles/src.dir/C.includecache
/src/cmake-build-debug/CMakeFiles/src.dir/DependInfo.cmake
/src/cmake-build-debug/CMakeFiles/src.dir/build.make
/src/cmake-build-debug/CMakeFiles/src.dir/cmake_clean.cmake
/src/cmake-build-debug/CMakeFiles/src.dir/depend.internal
/src/cmake-build-debug/CMakeFiles/src.dir/depend.make
/src/cmake-build-debug/CMakeFiles/src.dir/flags.make
/src/cmake-build-debug/CMakeFiles/src.dir/link.txt
/src/cmake-build-debug/CMakeFiles/src.dir/progress.make
/src/cmake-build-debug/Makefile
/src/cmake-build-debug/cmake_install.cmake
/src/cmake-build-debug/src.cbp
/src/gtm/.idea/codeStyles/Project.xml
/src/gtm/.idea/encodings.xml
/src/gtm/.idea/gtm.iml
/src/gtm/.idea/misc.xml
/src/gtm/.idea/modules.xml
/src/gtm/.idea/vcs.xml
/src/gtm/.idea/workspace.xml
/src/gtm/.ycm_extra_conf.py
/src/gtm/CMakeLists.txt
/src/gtm/client/libgtmclient.pc
/src/gtm/cmake-build-debug/CMakeCache.txt
/src/gtm/cmake-build-debug/CMakeFiles/3.9.6/CMakeCCompiler.cmake
/src/gtm/cmake-build-debug/CMakeFiles/3.9.6/CMakeCXXCompiler.cmake
/src/gtm/cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_C.bin
/src/gtm/cmake-build-debug/CMakeFiles/3.9.6/CMakeDetermineCompilerABI_CXX.bin
/src/gtm/cmake-build-debug/CMakeFiles/3.9.6/CMakeRCCompiler.cmake
/src/gtm/cmake-build-debug/CMakeFiles/3.9.6/CMakeSystem.cmake
/src/gtm/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdC/CMakeCCompilerId.c
/src/gtm/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdC/a.exe
/src/gtm/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/src/gtm/cmake-build-debug/CMakeFiles/3.9.6/CompilerIdCXX/a.exe
/src/gtm/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/src/gtm/cmake-build-debug/CMakeFiles/CMakeOutput.log
/src/gtm/cmake-build-debug/CMakeFiles/Makefile.cmake
/src/gtm/cmake-build-debug/CMakeFiles/Makefile2
/src/gtm/cmake-build-debug/CMakeFiles/Progress/1
/src/gtm/cmake-build-debug/CMakeFiles/Progress/2
/src/gtm/cmake-build-debug/CMakeFiles/Progress/3
/src/gtm/cmake-build-debug/CMakeFiles/Progress/4
/src/gtm/cmake-build-debug/CMakeFiles/Progress/count.txt
/src/gtm/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/src/gtm/cmake-build-debug/CMakeFiles/clion-environment.txt
/src/gtm/cmake-build-debug/CMakeFiles/clion-log.txt
/src/gtm/cmake-build-debug/CMakeFiles/cmake.check_cache
/src/gtm/cmake-build-debug/CMakeFiles/feature_tests.bin
/src/gtm/cmake-build-debug/CMakeFiles/feature_tests.c
/src/gtm/cmake-build-debug/CMakeFiles/feature_tests.cxx
/src/gtm/cmake-build-debug/CMakeFiles/gtm.dir/C.includecache
/src/gtm/cmake-build-debug/CMakeFiles/gtm.dir/DependInfo.cmake
/src/gtm/cmake-build-debug/CMakeFiles/gtm.dir/build.make
/src/gtm/cmake-build-debug/CMakeFiles/gtm.dir/cmake_clean.cmake
/src/gtm/cmake-build-debug/CMakeFiles/gtm.dir/depend.internal
/src/gtm/cmake-build-debug/CMakeFiles/gtm.dir/depend.make
/src/gtm/cmake-build-debug/CMakeFiles/gtm.dir/flags.make
/src/gtm/cmake-build-debug/CMakeFiles/gtm.dir/includes_C.rsp
/src/gtm/cmake-build-debug/CMakeFiles/gtm.dir/link.txt
/src/gtm/cmake-build-debug/CMakeFiles/gtm.dir/linklibs.rsp
/src/gtm/cmake-build-debug/CMakeFiles/gtm.dir/objects1.rsp
/src/gtm/cmake-build-debug/CMakeFiles/gtm.dir/progress.make
/src/gtm/cmake-build-debug/CMakeFiles/progress.marks
/src/gtm/cmake-build-debug/Makefile
/src/gtm/cmake-build-debug/cmake_install.cmake
/src/gtm/cmake-build-debug/gtm.cbp
/src/gtm/common/libgtm.pc
/src/gtm/common/stcxcAUh
/src/gtm/libpq/libpqcomm.pc
/src/gtm/path/libgtmpath.pc
/src/gtm/recovery/libgtmrecovery.pc
/src/gtm/xlog_test/a.out
/src/gtm/xlog_test/cal.cpp
/src/gtm/xlog_test/gtm.conf
/src/gtm/xlog_test/rename_sequence.c
/src/gtm/xlog_test/run.sh
/src/gtm/xlog_test/set_gts
/src/gtm/xlog_test/set_gts.c
/src/gtm/xlog_test/xlog_reader
